html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1440px;
}

section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div {
  padding: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-left: 1rem;
  max-width: 25rem;
}

div:first-child {
  padding-top: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

h1, p {
  font-family: Lato, sans-serif;
}

h1 {
  margin: 0;
}

p {
  padding-bottom: 0.4rem;
  margin-bottom: 1.5rem;
}

a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #666;
  padding: 0.75rem;
  border-radius: 10px;
  border: 2px solid #333;
}

a:hover {
  color: #eee9de;
  background-color: #666;
  border: 2px solid #666;
}
