html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1440px;
}

section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div {
  padding: .5rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-left: 1rem;
  max-width: 25rem;
}

div:first-child {
  margin-top: 1.5rem;
  padding-bottom: 0;
}

img {
  text-align: center;
  width: 100%;
  min-width: 320px;
  margin-top: 1rem;
  padding-right: .4rem;
}

h2, p {
  font-family: Lato, sans-serif;
}

h2 {
  margin: 1.5 0 1.5 0;
}

p {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.btn {
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: #666;
  padding: .75rem;
  border-radius: 10px;
  border: 2px solid #333;
}

.btn:hover {
  color: #eee9de;
  background-color: #666;
  border: 2px solid #666;
}
